*.lck
*.bak
*~
*$
.owncloudsync*
.csync*
/bin
/logs
/data
*.iml
**/Sumatra.log
sonarlint
s101plugin.properties
.idea/artifacts
*state-store.json.stream

doc/**/*.html
doc/**/*-guide.pdf
doc/**/images/diag-*
doc/**/.asciidoctor/

.gradle
build
/sumatra
temp
