.settings/org.sonar.ide.eclipse.core.prefs
.settings/org.eclim.prefs
*.lck
*.bak
*~
*$
.owncloudsync*
.csync*
/bin
/logs
/target
/data
*.iml
**/Sumatra.log
sonarlint
**/target/
s101plugin.properties
repository
.idea/artifacts
history.json
gc-state*

doc/**/*.html
doc/**/*-guide.pdf
doc/**/images/diag-*
doc/**/.asciidoctor/
