<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/sumatra-main/src/main/java/edu/tigers/sumatra/Sumatra.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.ui.favoriteGroups">
        <listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
        <listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.tigers.sumatra.Sumatra"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="sumatra-main"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-DtestMode=true&#13;&#10;-ea&#13;&#10;-Xms512m&#13;&#10;-Xmx4G&#13;&#10;-server&#13;&#10;-Xnoclassgc&#13;&#10;-Xverify:none&#13;&#10;-Dsun.java2d.d3d=false&#13;&#10;-Djava.net.preferIPv4Stack=true&#13;&#10;-XX:-OmitStackTraceInFastThrow"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:Sumatra}"/>
</launchConfiguration>
