<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %p [%t|%c{1}|%X] %m%n"/>
        </Console>
        <File name="FILE" fileName="data/logs/Sumatra-${date:yyyy-MM-dd'_'HH-mm-ss}.log">
            <PatternLayout pattern="%d %p [%t|%c{1}|%X] %m%n"/>
        </File>
        <SumatraAppender name="berkeley"/>
        <SumatraAppender name="logView">
            <PatternLayout pattern="%d %p [%t|%c{1}|%X] %m%n"/>
        </SumatraAppender>
        <Async name="ASYNC">
            <AppenderRef ref="CONSOLE" level="info"/>
            <AppenderRef ref="FILE" level="debug"/>
            <AppenderRef ref="berkeley" level="all"/>
            <AppenderRef ref="logView" level="all"/>
        </Async>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="ASYNC"/>
        </Root>
        <Logger name="edu.tigers" level="all" additivity="false">
            <AppenderRef ref="ASYNC"/>
        </Logger>
        <Logger name="log4j.logger.net.java.games" level="warn" additivity="false">
            <AppenderRef ref="ASYNC"/>
        </Logger>
    </Loggers>
</Configuration>
