/libraries/
/shelf/
/sonarlint/
/encodings.xml
/modules.xml
/vcs.xml
/compiler.xml
/workspace.xml
/uiDesigner.xml
/misc.xml
/sonarlint.xml
/sonarlint-state.xml
/kotlinc.xml
/deployment.xml
/jarRepositories.xml
/gradle.xml
/.name
/checkstyle-idea.xml
/dataSources.local.xml
/libraries-with-intellij-classes.xml
/jpa-buddy.xml
# GitHub Copilot persisted chat sessions
/copilot/chatSessions
